.paragrafo1{
    text-align: center;
    color: #A78295;
    font-size: 20px;
    }

    #banner{
        width: 80%;
        align-items: center;
    }

    .paragrafo2{
        text-align: center;
        color: #A78295;
        font-size: 20px;
        }
    


        h1{
            
            color:#331D2C;
        }

h2{
    text-align: center;
    color:#331D2C;
}    

body{
    background-color:#FFEADD;
}

img{
    align-items: center;
}

.cabecalho{
    background-color: aqua;
    margin: 0;
    padding: 5%;
    
    color:#331D2C;
    font-size: 30px;
    border-bottom: 2px solid  #a2969e;
}

.conteudo{
    background-color: bisque;
    margin: 0;
    padding: 10%;
}

.rodape{
    background-color: cadetblue;
    margin: 0;
    padding: 5%;
}

.cabecalho-img{
    border-radius: 2px;
    
}